/* CSS Invoice */
#resultsInvoice_length,
#resultsInvoice thead, #resultsInvoice .sorting_asc, #resultsInvoice > tbody > tr > td:nth-child(2){
	display: none;
}
#resultsInvoice_info, #resultsInvoice_paginate{
	width: 100%;
	padding: 0 20px;
	clear: both;
}
#resultsInvoice_info{
	font-size: 12px;
	text-align: center;
}
#resultsInvoice_paginate{
	margin: 20px 0;
}
#resultsInvoice_filter{
	float: left;
	margin: 3px 0 0 15px;
}
#resultsInvoice_filter input{
	width: 265px;
}
.result-panel .panel-body{
	padding: 5px;
}

#resultsInvoice .panel-group{
	margin-bottom: 0;
}
#resultsInvoice > tbody > tr > td{
	padding: 8px 20px;
}
#resultsInvoice td h4{
	float: left;
}
#resultsInvoice td h5{
	margin-bottom: 0;
}
#resultsInvoice td .add{
	float: right;
	color: #ffae00;
}
#resultSiswa td strong{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#resultSiswa div .fa{
	margin-right: 5px;
}

.bills-info, .details-info{
	clear: both;
}
.bills-info .panel{
	box-shadow: none !important;
}
.bills-info .panel-collapse.in .panel-body{
	border-bottom: none;	
}
.bills-info .details-link{
	color: #6ea8ea;
}
.bills-info .details-link:hover{
	text-decoration: none;
}
.bills-info .details-info{
	border-top: 1px solid #f0f0f0;
}
.bills-info h5{
	margin: 0;
}

.list-details-items{
	width: 100%;
}
.list-details-items dt, .list-details-items dd{
	margin: 5px 0;
	float: left;
}
.list-details-items dt{
	width: 50%;
	text-align: left;
}
.list-details-items dd{
	text-align: right;
}
.list-details-items dd.price{
	width: 40%;
}
.list-details-items dd.add-to{
	margin-left: 10px;
	width: 5%;
}

.table-invoice thead > tr > th:nth-child(4){
	text-align: right;
}
.table-invoice tbody > tr > td:last-child{
	width: 1%;
}
#invoiceTable > tbody > tr > td:nth-child(1){
	width: 300px;
}
#invoiceTable > tbody > tr > td:nth-child(3),
#invoiceTable > tbody > tr > td:nth-child(4){
	width: 180px;
	text-align: right;
}
#invoiceTable dl{
	width: 100%;
	margin: 10px;
}
#invoiceTable dl dd, #invoiceTable dl dt{
	width: 50%;
	float: left;
}
#invoiceTable dl dt{
	text-align: left;
}
#invoiceTable dl dd{
	text-align: right;
}
#invoiceTable .action.cancel{
	color: #ffae00;
}
#invoiceTable .action:hover{
	cursor: pointer;
	cursor: hand;
}

.table-total > tbody > tr > td:last-child{
	padding-right: 35px;
	width: 	25%;
}

.installment{
	text-transform: capitalize;
	font-size: 12px;
	margin-top: 10px;
}
.off-price{
	color: #ccc;
}