/*----------------------------------------------------------------------------*/
/* Search List
/*----------------------------------------------------------------------------*/

/* bulk action */
.right
{
	float: right;
}
.bulk-actions 
{
	margin-bottom: 15px;
}
.bulk-actions select, .bulk-actions button
{
	float: left;
}
.bulk-actions select
{
	width: 140px;
	margin-top: 0;
	margin-right: 4px
}
.bulk-actions button
{
	max-height: 30px;
}

/* Table Invoice */
#datatable_orders td.actions button
{
	float: left;
}

#datatable_orders td.actions .btn-warning
{
	margin-right: 8px;
}