/*----------------------------------------------------------------------------*/
/* List Items Type Optional
/*----------------------------------------------------------------------------*/

/* Search */
#u_id
{
	line-height: 38px;
	height: 38px;
	margin-top: 0;
}

/* Add New Items */
.choose-new-levels
{
	width: 100%;
}


/*----------------------------------------------------------------------------*/
/* Edit List Items Type Optional
/*----------------------------------------------------------------------------*/
